@model List<HabitTracker.Models.Habit>
@inject HabitTracker.Data.AppDbContext _context

<h3>Your Habits</h3>

<a href="/Habit/Create" class="btn btn-primary mb-3">
    + Create Habit
</a>
<a href="/Habit/Suggestion" class="btn btn-warning mb-3">
    🤖 Smart Suggestion
</a>
@foreach (var habit in Model)
{
    var now = DateTime.Now;

    var isDone = _context.HabitLogs
        .Any(x => x.HabitId == habit.Id && x.Date == DateTime.Today);

    var isMissed = habit.Deadline != null
                   && habit.Deadline < now
                   && !isDone;

    var isWarning = habit.Deadline != null
                    && habit.Deadline > now
                    && (habit.Deadline.Value - now).TotalMinutes <= 60
                    && !isDone;

    <div class="card p-3 mb-3 shadow-sm rounded-3
            @(isMissed ? "border-danger bg-danger-subtle" : "")
            @(isWarning ? "border-warning bg-warning-subtle" : "")
            @(isDone ? "border-success" : "")">

        <div class="d-flex justify-content-between align-items-center">

            <!-- LEFT -->
            <div>
                <h5>
                    <!-- <img src="~/icons/@habit.Icon" width="30" /> -->
                    
                    @habit.Name
                </h5>

                <p class="text-muted">
                    🔥 Streak: <b>@habit.Streak</b> <br />

                    ⏰ Deadline:
                    <span class="deadline"
                          data-deadline="@habit.Deadline?.ToString("yyyy-MM-ddTHH:mm:ss")">
                        @(habit.Deadline?.ToString("yyyy-MM-dd HH:mm") ?? "None")
                    </span>
                </p>

                @if (isMissed)
                {
                    <span class="badge bg-danger">Missed ❌</span>
                }
                else if (isWarning)
                {
                    <span class="badge bg-warning text-dark">Hurry Up ⚠️</span>
                }
            </div>

            <!-- RIGHT -->
            <div class="d-flex flex-column gap-2">

                @if (!isDone)
                {
                    <a href="/Habit/Complete/@habit.Id"
                       class="btn btn-success">
                        ✔ Done
                    </a>
                }
                else
                {
                    <span class="badge bg-success">Done Today</span>
                }

                <a href="/Habit/Details/@habit.Id"
                   class="btn btn-info btn-sm">
                    Details
                </a>

                <a href="/Habit/Delete/@habit.Id"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Delete this habit?')">
                    Delete
                </a>

            </div>

        </div>

        <!-- COUNTDOWN -->
        <div class="mt-2 text-end text-muted small countdown"></div>

    </div>
}